@tailwind components;

@layer components {
  .App-logo {
    height: 40px;
    pointer-events: none;
  }

  .menu > li > a {
    @apply p-9 inline-block hover:bg-slate-600;
  }
  .menu > li > a > i {
    @apply ml-2 inline-block;
  }

  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }

  .App-header {
    background-color: #282c34;
    min-height: 100px;
    display: flex;
    align-items: center;
    color: white;
  }

  .App-link {
    color: #61dafb;
  }
}
